name: "build"
on:
  push:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'
      - name: Run
        run: |
            chmod +x *.sh
            cp .env.example .env
            docker compose up --abort-on-container-exit
  release:
    needs:
      - build
    if: github.event_name == 'push'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Install Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: package.json
      - name: Deploy
        run: zip -r source.zip input output src requirements.txt
      - name: Release
        run: |
            npm install
            npx semantic-release
        env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
